* {
    box-sizing: border-box;
}

:root {
    --bs-emphasis-color-rgb: 170, 167, 255;
    --bs-body-line-height: 1.8
}

html {
    font-size: 16px;
    font-weight: 400;
    scrollbar-gutter: stable !important;
    scroll-behavior: auto !important;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0e0535;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

p {
    color: white;
}

.bold {
    font-weight: bold;
}





/* NAVBAR */
.container-fluid {
    max-width: 1100px;
    padding: 0px 24px;
}

.navbar {
    background-color: #07084bc2;
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-toggler-focus-width: 0;
    z-index: 1;
    border-top: solid rgb(114, 83, 255) 1px;
    border-bottom: solid rgb(114, 83, 255) 1px;
}

.hidden-mobile {
    display: block;
}

.navbar-nav {
    gap: 20px;
}

.nav-link {
    color: #ffffffce;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-link:active {
    background-color: #aaa7ff56;
}

.sub-link {
    color: #ffffffce;
    display: block;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0px;
    padding: 4px 8px;
    border-left: solid rgb(114, 83, 255) 3px;
}

.sub-link:active {
    background-color: #aaa7ff56;
}

.navbar-toggler {
    border-radius: 2%;
    --bs-navbar-toggler-padding-x: 0.2rem;
    --bs-navbar-toggler-padding-y: 0.2rem;
    --bs-border-width: 0;
    cursor: pointer;
}

/* NAVBAR DROPDOWNS */
.navbar-toggler {
    border-radius: 2%;
    --bs-navbar-toggler-padding-x: 0.2rem;
    --bs-navbar-toggler-padding-y: 0.2rem;
    --bs-border-width: 0;
    cursor: pointer;
}

.dropdown-content {
    padding: 8px 16px;
    display: none;
    position: absolute;
    top: 65px;
    background-color: #0e0535;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid rgb(114, 83, 255) 1px;
    border-radius: 5px;
    z-index: 1;
    text-wrap: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #aaa7ff56;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #aaa7ff56;
}

/* Pseudo element to keep dropdown active when hovering through gap */
.dropbtn:before {
    content:"";
    display:none;
    position:absolute;
    top:90%;
    left:0;
    right:0;
    height:28px;
 }
.dropbtn:hover::before {
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 22px;
    height: 2px;
    background-color: #AAA7FF;
    margin: 6px 0;
    transition: 0.4s;
  }

/* SEARCH BAR */
.btn-outline-success {
    --bs-btn-color: #AAA7FF;
    --bs-btn-border-color: #AAA7FF;
    --bs-btn-hover-bg: #716ecc;
    --bs-btn-hover-border-color: #716ecc;
    --bs-btn-active-bg: #AAA7FF;
    --bs-btn-active-border-color: #AAA7FF;
    --bs-btn-disabled-color: #AAA7FF;
    --bs-btn-disabled-border-color: #AAA7FF;
}

.form-control {
    background-color: #ffffffce;
}

[role="search"] {
    padding-left: 16px;
}

.current-menu {
    color: rgb(170, 167, 255);
}

.current-page {
    background-color: #aaa7ff56;
    border-radius: 5px;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }





/* SIDENAV */
.sidenav {
    height: 100%; 
    width: 0px; 
    position: fixed; 
    z-index: 2; 
    top: 71.19px; 
    right: 0;
    background-color: #0e0535; 
    overflow-x: hidden; 
    transition: 0.3s; 
}

.show-sidenav {
    border-left: solid rgb(114, 83, 255) 1px;
 }

.sidenav .nav-link {
    padding: 8px 8px 8px 32px;
    color: #b5b2ff;
    display: block;
    transition: 0.3s;
    overflow: hidden;
}

.sidenav .nav-link:hover {
    color: #ffffff;
}

.sidenav .sub-link {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    color: #b5b2ff;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    text-decoration: none;
    margin: 16px 0px 16px 35px;
}

.sidenav .sub-link:hover {
    color: #ffffff;
}

.dropdown-container {
    display: block;
    transition: 0.3s;
    overflow-y: hidden;
}

.dropdown-btn {
    cursor: pointer;
    display: inline;
}

/* SIDENAV TRANSITION */
.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}




/* DIRECTORY */
.inpage-directory {
    overflow-x: hidden; 
    overflow-y: scroll; 
    position: fixed;
    float: left;
    left: max(24px, calc((100vw - 1068px)/2));
    height: calc(100vh - 71.19px);
    min-width: 300px;
}

.inpage-directory .nav-link {
    padding: 8px 8px 8px 0px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 0;
}

.inpage-directory .sub-link {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    text-wrap: nowrap;
    text-decoration: none;
    margin: 16px 0px 16px 0px;
}

.directory {
    height: 100%; 
    width: 0px; 
    position: fixed; 
    z-index: 2; 
    top: 71.19px; 
    right: 0;
    background-color: #0e0535; 
    overflow-x: hidden; 
    transition: 0.3s; 
}

.directory .nav-link {
    padding: 8px 8px 8px 24px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
}

.directory .sub-link {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    text-wrap: nowrap;
    text-decoration: none;
    margin: 16px 0px 16px 27px;
}

.dropdown-icon {
    height: 18px; 
    transition: 0.3s;
}

.change > img {
    transform: rotate(-90deg);
}





/* HERO */
.hero-background {
    width: 100%;
    background-image: url("./assets/images/alpha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: right top;
}

.hero-container {
    width: 1100px;
    margin-top: 71.19px;
    padding: 65px 24px 80px 24px;
}

.subtitle {
    font-size: 1.5rem;
    color: #d1d0d0;
}

.title {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}

.button-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.main-btns{
    height: 60px;
    width: 230px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-primary {
    --bs-btn-bg: #6543ff;
    --bs-btn-border-color: #6543ff;
    --bs-btn-hover-bg: #7859ff;
    --bs-btn-hover-border-color: #7859ff;
    --bs-btn-active-bg: #716ecc;
    --bs-btn-active-border-color: #716ecc;
}





/* FEATURED */
.featured-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 24px;
    margin-bottom: 24px;
}

.heading {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 24px 0px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 48px;
    max-width: 1052px;
}

.card {
    background-color: #08082b00;
    border: solid #6543ff 3px;
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
}





/* FOOTER */
.text-body-secondary {
    color: white !important;
}

.footer-container {
    padding: 0px 24px 0px 24px;
    width: 100%;
    display: none;
}

.mb-3 {
    margin: 0 !important;
}

.nav-item {
    font-size: 16px !important;
}





/* ABOUT */
.about {
    text-align: center;
}





/* SUBPAGES */
.dir-toggler, .mobile-brand {
    display: none;
}

h1 {
    color: white !important;
    font-size: 30px;
    margin: 24px 0px;
    font-weight: bold;
}

h2 {
    color: white !important;
    font-size: 27px;
    margin: 24px 0px;
    font-weight: bold;
}

h3 {
    color: white !important;
    font-size: 24px;
    margin: 24px 0px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-color: #6543ff;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
}

h4 {
    color: white !important;
    font-size: 21px;
    margin: 24px 0px;
    font-weight: bold;
}

.article *{
    color:#e4e3fd;
}

.yellow {
    color: rgb(255, 244, 92);
    padding: 3px 6px;
    background-color: #3e2f80;
    border-radius: 5px;
}

.red {
    color: rgb(255, 96, 96);
    padding: 3px 6px;
    background-color: #3e2f80;
    border-radius: 5px;
}

.inbox-red {
    color: rgb(255, 96, 96);
    padding: 0px 3px;
}

.inbox-list {
    margin: 0;
    padding-left: 18px;
    align-self: center;
}

.inbox-list li {
    padding: 0px;
}

/* CONTAINERS */
ul, ol {
    padding: 0px 0px 0px 24px;
    margin: 0;
    margin-bottom: 24px;
}

.table-ul {
    margin: 0;
    padding-right: 0px;
    text-align: start;
}

li {
    padding: 3px;
}

.article-page .container-fluid {
    max-width: 1100px;
}

.article-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    max-width: 1100px;
    margin-top: 71.19px;
    padding: 0px 24px;
    display: flex;
}

.filler-directory {
    min-width: 300px;
}

.article {
    padding-left: 60px;
    max-width: 800px;
    /* TBU */
}

.h2-container {
    margin-bottom: 72px;
}

.h3-container {
    margin-bottom: 48px;
}

.h3-container-flex {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.end-container {
    margin-bottom: 0;
}

.table-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    border: solid #6543ff 2px;
    border-radius: 5px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    border: solid #6543ff 1px;
}

.square-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid #6543ff 2px;
    border-radius: 5px;
}

.info-box {
    display: flex;
    background-color: rgba(64, 161, 226, 0.2);
    border: solid rgb(53, 129, 180) 2px;
    border-left: solid #6ac3ff 5px;
    border-radius: 7px;
    margin-bottom: 24px;
    padding: 8px;
}

.warning-box {
    display: flex;
    background-color: rgba(226, 64, 64, 0.2);
    border: solid rgb(180, 53, 53) 2px;
    border-left: solid #ff6a6a 5px;
    border-radius: 7px;
    margin-bottom: 24px;
    padding: 8px;
}

.icon-box {
    padding: 0px 10px 0px 2px;
}

/* IMAGES */
.solo-illust {
    width: 100%;
    border: solid #6543ff 3px;
    border-radius: 5px;
}

.qak {
    height: 40px;
    width: 40px;
    border: solid #6543ff 3px;
}

.fig {
    width: 100%;
}

.illust {
    width: 100%;
    border: solid #6543ff 3px;
    border-radius: 5px;
    margin-bottom: 24px;
}





@media (max-width: 1100px) {
    .footer-container {
        width: calc(100vw);
    }
}

@media (max-width: 767px) {
    /* VERTICAL LAYOUT */
    body {
        width: 100vw;
        font-size: 16px;
    }

    .navbar {
        background-color: #0e0535;
        border-top: none;
        border-bottom: solid rgb(114, 83, 255) 1px;
        height: 71.19px;
    }

    .hidden-mobile {
        display: none;
    }

    .dir-toggler, .mobile-brand {
        display: block;
    }

    .search-bar {
        display: none;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        margin-top: 63px;
        padding: 20px 0px 35px 0px;
        align-items: center;
        width: calc(100vw - 48px);
    }

    .button-container {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center
    }

    .main-btns {
        width: 100%;
    }

    .button-container a {
        width: 100%;
    }

    .footer-container {
        display: block;
    }

    .title {
        font-size: 15.6vw;
        text-align: center;
        font-style: normal;
    }
    
    .subtitle {
        font-size: max(1rem, 4vw);
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card {
        flex-basis: 200px;
    }
    
    .directory {
        height: 100%; 
        width: 0px; 
        position: fixed; 
        z-index: 2; 
        left: 0;
        overflow-x: hidden; 
        transition: 0.3s; 
    }

    .show-dir-border {
        border-right: solid rgb(114, 83, 255) 1px;
     }

    .inpage-directory {
        display: none;
    }

    .filler-directory {
        display: none;
    }

    .article {
        padding: 0px;
    }

    .h3-container-flex {
        flex-direction: column;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 21px;
    }

    .current-page {
        border-radius: 0px;
    }
}

